* {
  margin: 0;
  padding: 0;
}

.bg-tombol {
  background-color: #cde5f1;
  background-image: linear-gradient(62deg, #cde5f1 0%, #cde5f1 100%);
  border: none;
  color: white;
}
.bg-tombol:hover {
  background-color: #cde5f1;
  background-image: linear-gradient(62deg, #cde5f1 0%, #cde5f1 100%);
}

.warna {
  color: #cde5f1 !important;
}

/* .inp:focus {
  outline: none !important;
} */

.form-control:focus {
  border-color: transparent !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #cde5f1 !important;
}

.login-placeholder::placeholder {
  color: #cde5f1 !important;
}

.slick-prev:before,
.slick-next:before {
  color: #163033 !important;
  font-size: 50px !important;
}
.slick-prev {
  left: -50px !important;
  z-index: 1;
}
.slick-dots li button:before {
  font-size: 20px !important;
  color: #163033 !important;
}
.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: black;
}
.garis {
  border-top: 2px solid #cde5f1;
}
.garisbwh {
  border-bottom: 2px solid #cde5f1;
}